{% load static%}
<link rel="stylesheet" type="text/css"href="{% static 'polls/style.css' %}">

<title>選択肢 | 投票アプリ</title>
<h1>{{question.question_text}}</h1>
{% if error_message %}<p class="eroor"><stong>{{error_message}}</stong></p>{% endif %}
<form action="{% url 'polls:vote' question.id %}"method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <li>
            
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        </li>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
<a href="{% url 'polls:index' %}">Top?</a>